.slogan{

  font-style: italic;
  color: red;
}

img{
  width: 5%;
  height: 5%;
  float: right;
}



/* .jumbotron {

  background-image: url("images/burger.jpg");
} */

.jumbotron{

  margin-top: 20px;
  background-image: url("../images/burger.jpg");
  background-size: cover;
  color: white;
}
